.filter {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(3, 2, 2, 0.698);
}

.filterPopup {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerFilter {
  background-color: #2a2d34;
  color: #fff;
  height: 450px;
  width: 600px;
}

.headerFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleFiltersHeader {
  margin: 5px 5px 5px 5px;
  font-size: 22px;
}

.btnResetSettings {
  margin: 10px 5px 5px 5px;
  width: 100px;
  height: 20px;
  background-color: #ff5f05;
  border-radius: 1px;
  color: #ffffff;
  border: none;
}

.btnResetSettings:hover {
  cursor: pointer;
  background-color: #b44200;
}

.filterTitles {
  margin: 5px 0px 25px 5px;
}

#nav-block {
  margin: 5px 0px 25px 5px;
}

.hidden {
  display: none;
}

.genres > li {
  display: inline-block;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
}

.genres > li:hover {
  color: #ffaa00;
}

.selectOther {
  margin: 5px 0px 25px 5px;
}

.releaseData {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 0px 35px 0px;
}

#startData,
#endData {
  width: 130px;
}

#filmId,
#selectLanguage {
  width: 70px;
  margin: 5px 10px 5px 10px;
}

.releaseData {
  width: 100%;
  margin-bottom: 20px;
}

.languageSelect {
  display: inline-block;
}

.blockBtnFilter {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btnFilter {
  background-color: #57aeff;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-size: 24px;
  width: 200px;
  height: 40px;
  transition: all 0.15s ease-out;
}

.btnFilter:hover {
  background-color: #024c90;
  cursor: pointer;
}
