.filter {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(3, 2, 2, 0.698);
    padding: 15px;
}

.containerFilter {
    background-color: #2a2d34da;
    color: #fff;
    height: 550px;
    width: 650px;
    border-radius: 10px;
    padding: 10px;
}

.headerFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 30px 10px;
}

.titleFiltersHeader {
    margin: 5px 10px 5px 10px;
    font-size: 18px;
}
.resetBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

.btnResetSettings {
    margin-right:45px;
    background-color: #ff5f05;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    width: 170px;
    height: 40px;
    transition: all 0.15s ease-out;
}

.btnResetSettings:hover {
    cursor: pointer;
    background-color: #b44200;
}

#nav-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid #5f5f5f ;
    border-width:6px 6px 3px 6px ;
    border-radius: 10px 10px 0 0;
}

.chooseGenres {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    animation: chooseGenres 1s ease-in-out infinite alternate;
}
@keyframes chooseGenres {
    from {
        /* color:#ff8b48; */
        text-shadow: 0 0 5px #f5f0f0, 0 0 10px #101010, 0 0 15px #101010, 0 0 20px #101010, 0 0 25px #57aeff, 0 0 30px #57aeff, 0 0 35px #57aeff;
    }
    to {
        /* color:#57aeff; */
        text-shadow: 0 0 10px #f5f0f0, 0 0 15px #ff8b48, 0 0 20px #ff8b48, 0 0 25px #ff8b48, 0 0 30px #ff8b48, 0 0 35px #ff8b48, 0 0 40px #ff8b48;
    }
}

.genres {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.genres > li {
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
}

.genres > li:hover {
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #000000;
}

.filmGenresActiv {
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #000000;
    color: #ff8b48;
}

.releaseData {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 5px 30px 20px 30px;
}
.releaseData label{
    margin-top: 1px;
}

#startData,
#endData {
    width: 125px;
}

#filmId,
#selectLanguage {
    width: 70px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: #f5f0f0ad;
    outline: none;
}


.chooseLanguage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    border: solid #5f5f5f ;
    border-width:3px 6px 6px 6px ;
    border-radius: 0 0 10px 10px;
    animation: chooseGenres 1s ease-in-out infinite alternate;
}

.languageSelect {
    margin-top: 5px;
    display: inline-block;
}

.blockBtnFilter {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnFilter {
    margin-left: 45px;
    background-color: #57aeff;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    width: 170px;
    height: 40px;
    transition: all 0.15s ease-out;
}

.btnFilter:hover {
    background-color: #024c90;
    cursor: pointer;
}

.hiddeId {
    display: none;
}

.hidden {
    display: none;
}
#startData{
    margin-left: 5px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: azure;
    font-size: 16px;
}
#startData::-webkit-datetime-edit { padding-top: 0px; margin-right: 0; }
#startData::-webkit-calendar-picker-indicator { cursor: pointer; margin-left:90px; margin-bottom: 3px; filter: invert(1);position: absolute;}

.onRelease{
    margin-left: 20px;
}
#endData{
    margin-left: 5px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: azure;
    font-size: 16px;
}
#endData::-webkit-calendar-picker-indicator { cursor: pointer; margin-left:90px; margin-bottom: 3px; filter: invert(1);position: absolute;}
.wrapperData{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #5f5f5f ;
    border-width:3px 6px 3px 6px ;
    padding-top: 10px;
}
.dataTitle{
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    animation: chooseGenres 1s ease-in-out infinite alternate;
}
.blockRange{
    border: solid #5f5f5f ;
    padding-top: 10px;
    padding-bottom: 20px;
    border-width:3px 6px 3px 6px ;
}