.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background-color: black;
  }
.navigationRight {
    color: aliceblue;
    display: flex;
    flex-direction: row;
  }
.home,
.second,
.signOut {
    margin: 26px 15px 10px 15px;
  }
.logoImg{
    margin-top: 10px;
    margin-left: 20px;
    width: 150px;
  }
.signOut {
    cursor: pointer;
  }