*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: helvetica;
}

.movieBudget {
    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
:root {
    --clr-prim: #000000;
    --clr-prim-h: #000000;
    --clr-bad: #ff8c4a;
    --clr-box: #f9f9f9;
    --clr-box-dark: #f2f2f2;
    --clr-border: #d9d9d9;
    --txt-clr: #333;
    --shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    --cubic: cubic-bezier(0.11, 0.54, 0.33, 1.01);
}
.dual-range {
    --range-size: 17px;
    --range-width: 250px;
    --handle-size: 1.1;
    height: var(--range-size);
    width: var(--range-width);
    background: var(--clr-box-dark);
    border-radius: 50px;
    position: relative;
    user-select: none;
    margin-top: 20px;
}
.dual-range .highlight {
    position: absolute;
    height: var(--range-size);
    width: calc(calc(var(--x-2) - var(--x-1)) + calc(var(--range-size) * var(--handle-size)));
    left: var(--x-1);
    background: var(--clr-prim);
    z-index: 1;
    border-radius: 50px;
}
.dual-range .handle {
    width: calc(var(--range-size) * var(--handle-size));
    height: calc(var(--range-size) * var(--handle-size));
    background: #ff8c4a;
    position: absolute;
    box-shadow: var(--shadow);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: grab;
}
.dual-range .handle:active {
    cursor: grabbing;
}
.dual-range .handle.left {
    left: var(--x-1);
}
.dual-range .handle.right {
    left: var(--x-2);
}
.dual-range .handle::after {
    content: '$' attr(data-value);
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
}
